# ----------------------------------------------------------------------
# 1. Залежності та система (Node.js/npm)
# ----------------------------------------------------------------------
/node_modules
/dist
/tmp

# Логи npm та помилки
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log
*.local

# ----------------------------------------------------------------------
# 2. КОНФІДЕНЦІЙНІ ФАЙЛИ (ОБОВ'ЯЗКОВО ІГНОРУВАТИ)
# Містить MONGO_URI, паролі, ключі
# ----------------------------------------------------------------------
.env

# ----------------------------------------------------------------------
# 3. Згенеровані файли (SASS/SCSS)
# ----------------------------------------------------------------------
# Ігноруємо скомпільований CSS, оскільки він має генеруватися на CI/CD
/public/css/style.css 
/public/css/*.map

# ----------------------------------------------------------------------
# 4. Редактори та ОС
# ----------------------------------------------------------------------
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?