// Брейкпоінти
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Кольори
$bg-dark: #4C3837;       
$bg-light: #F0E8D5;  // <--- ОСЬ ЦЕЙ КОЛІР ФОНУ ШАПКИ
$text-light: #F0E8D5;    
$text-dark: #2c2121;     
$accent-color: #F0145A;  
$separator-color: #E6E6F0;
$white: #ffffff;

// Інше
$radius-sm: 8px;
$radius-md: 12px;
$font-stack: 'Helvetica Neue', Arial, sans-serif;