/* src/scss/style.scss */

// ==========================================================
// 1. БАЗОВІ МОДУЛІ (ЗМІННІ, ФУНКЦІЇ)
// Використовуємо 'as *' для того, щоб змінні були доступні напряму
// у всіх наступних файлах без префіксу (якщо це зручно).
// ==========================================================
@use 'variables' as *; 
@use 'base';

// ==========================================================
// 2. СТИЛІ КОМПОНЕНТІВ ТА СЕКЦІЙ
// ==========================================================
@use 'header';
@use 'head';
@use 'categories';
@use 'about';
@use 'footer';
@use 'books';
@use 'modal';